[submodule "theme/pelican-hyde"]
	path = theme/pelican-hyde
	url = git@github.com:Ecno92/pelican-hyde.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:Ecno92/pelican-plugins.git
