# gzip compression
AddEncoding gzip .gz .tgz

<Files *.js.gz>
  ForceType text/javascript
</Files>

<Files *.css.gz>
  ForceType text/css
</Files>

<Files *.html.gz>
  ForceType text/html
</Files>

<Files *.xml.gz>
  ForceType application/xml
</Files>

<FilesMatch .*\.(js|css|html|xml)>
  RewriteEngine On
  RewriteCond %{HTTP:Accept-encoding} gzip
  RewriteCond %{REQUEST_FILENAME}.gz -f
  RewriteRule ^(.*)$ $1.gz [L]
</FilesMatch>

# Add browser caching.
<FilesMatch "\.(ico|pdf|jpe?g|png|gif|js|css|mp3)(?:\.gz|$)">
            ExpiresActive On
            ExpiresDefault "access plus 1 days"
</FilesMatch>
